*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C1C1C;
    color: white;
}

#cabecalho{
    display: flex;
    padding: 20px 20px 10px 20px;
    background-color: Black;
    color: #f2d70e;
    box-shadow: 6px 4px 20px #f2d70e72;
    font-size: 12px;

}

#cabecalho img{
    width: 60px;
}

#cabecalho .marca{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#cabecalho .menu{
    width: 100px;
    position: absolute;
    right: 40px;
    margin-right: 10px;
}

#home{
    margin: 80px 40px 40px 40px;
    align-items: center;
}

#donuts{
    width: 80px;
    position: absolute;
    right: 40px;
}

.apresentacao h2{
    font-size: 46px;
}

.apresentacao p{
    margin-top: 20px;
    font-size: 30px;
}

.apresentacao span{
    color: #f2d70e;
}

#home .detalhes{
    display: flex;
    padding-top: 20%;
    justify-content: center;
}

#home .detalhes img{
    width: 350px;
}

/*AQUI VAI COMEÇAR A PARTE DE DOCES*/
#doces{
    height: 100vh;
    margin: 120px 40px 40px 40px;
}

.produtos{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 160px;
    justify-content: center;
    gap: 35px;
}

.produtos img{
    width: 120px;
}

.produto{
    width: 150px;
    height: 210px;
    padding-left: 12px;
    padding-top: 5px;
    background-color: white;
    border-radius: 9px;
    border: 2px solid black;
    box-shadow: 6px 6px 1px #f2d70e;
    text-align: left;
    color: #1C1C1C;
}
#comprar{
    display: inline-flex;
    align-items: center;
    padding: 1px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #f2d70e;
}

#adicionar{
    display: inline-flex;
    align-items: center;
    padding: 1px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #f2d70e;
}